<header>
  <app-navbar>

  </app-navbar>
  <div class="md:h-[600px] w-full overflow-hidden">
    <img src="assets/images/about-us.png" alt="" class="w-full">
  </div>  
</header>

<section class="font-nunito md:px-12 md:p-16 p-6 bg-[#F2D8C133] ">
  <p class="text-[#d90069] md:text-4xl text-2xl mb-16 font-bold">ABOUT US</p>
  
  <div class="grid md:grid-cols-2 grid-cols-1 md:py-24 md:gap-8 gap-4">
    <div class="shadow-md md:p-12 p-4">
      <p class="text-[#d90069] md:text-3xl text-xl mb-6">
        MISSION
      </p>
      <p class="md:text-lg">
        Our mission is to mentor and provide guidiance to the youth.To improve the welfare of people to support orphans and the less privileged in the society. initiate programmes for the empowerment of when,youths,needy and orphans via skill acquisition and vocational training centers.
      </p>
    </div>
    <div class="shadow-md md:p-12 p-4">
      <p class="text-[#d90069] md:text-3xl text-xl mb-6">
        WHO WE ARE?
      </p>
      <p class="md:text-lg">
        Judikay foundation was Established in 2022 and this is a tax exempt  not-for-profit organisation that is involved in charity to widows,children and orphans who are not able to make a living in the settlement of lagos and other parts of the country in Nigeria-Africa.The organisation also provides opportunities to elementary and secondary school children for better education.
      </p>
    </div>
    <div class="shadow-md md:p-12 p-4">
      <p class="text-[#d90069] md:text-3xl text-xl mb-6">
        VISION STATEMENT
      </p>
      <p class="md:text-lg">
        Our vision as an organisation is to get the Gospel to the ends of the earth through good works ,hereby being a beacon of hope and compassion,shinning the light of christ to the most vulnerable and marginalized members of the society and providing relief and support to those in need,in order to promote dignity,equality and empowerment for all. 
      </p>
    </div>
  </div>
</section>

<app-footer></app-footer>