<footer class="bg-[#D90069] md:px-24 md:py-16 font-nunito py-2 px-2">
  <div class="border-b-2 border-r-0 border-l-0 border-t-0 border-white flex justify-center mt-6 py-2">
      <div class="flex md:gap-8 gap-2 items-center md:p-7 p-1 cursor-pointer mt-4">
          <div class="text-white hover:text-[#fdd3e7] md:text-base text-sm">About Us</div>
          <div class="text-white hover:text-[#fdd3e7] md:text-base text-sm">Blog Post</div>
          <div class="text-white hover:text-[#fdd3e7] md:text-base text-sm">Contact Us</div>
          <div class="text-white hover:text-[#fdd3e7] md:text-base text-sm">NewsLetter</div>
      </div>
  </div>

  <div class="flex justify-between items-center md:p-6 p-3">
    <div class="md:text-base text-sm hidden md:block text-white">
      Copyright &copy;{{ date.getFullYear() }} All Rights Reserved | Judikay Foundation
    </div>
    <div class="md:text-base text-sm md:hidden block text-white">
      Copyright &copy;{{ date.getFullYear() }} Judikay Foundation
    </div>
    <div class="text-center">
      <p class="text-white md:text-base text-sm hidden md:block">Follow Us</p>
      <div class="flex md:gap-5 gap-2 mt-2 cursor-pointer ">
        <img src="assets/images/facebook.svg" alt="" class="md:w-full w-6">
        <img src="assets/images/instagram.png" alt="" class="md:w-full w-6">
        <img src="assets/images/twitter.png" alt="" class="md:w-full w-6">

      </div>
    </div>
  </div>
</footer>
